.education{
    height: 170px;
    width: 48%;

    border-radius: 10px;
    box-shadow: 10px 10px 29px -6px gray;
    position: relative;


}

.education:nth-child(1){
}

.year-icon{
    padding: 15px;
    border-radius: 10px;
    color: white;
    background-color: #2A4D69;
}

.year-icon-pos{
    width: 90%;
}

.yearPos{
    font-size: 25px;
}

.educationCont{
    width: 95%;
    margin: auto;
}

.year-icon h5{
    font-size: 18px;
}

.edu-year{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    padding: 10px;
}

.edu-description{
    width: 69%;
}

.edu-year i {
    font-size: 40px;
}

.edit-edu-btn{
    position: absolute;
    right:1%;
    top: 3%;
    cursor: pointer;
}

.modal{
    width: 80%;
}


.settings-tab-edit{
    
}